@* TripTask Index for a particular Trip *@

@model IEnumerable<IPENTITIES.TripTask>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateTripTask")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TripId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDueDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TripId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDueDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TripTaskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TripTaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TripTaskId })
        </td>
    </tr>
}

</table>
