@* Trip Index *@

@model IEnumerable<IPENTITIES.Trip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "CreateTripView")
</p>
@* This table displays the trips on the database *@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @* Change tripId to match the EditTripView on the TripController *@
                @Html.ActionLink("Edit", "EditTripView", new { tripId = item.TripId }) |
                @Html.ActionLink("Details", "Index", "TripTask", new { tripId = item.TripId }, null) |
                @Html.ActionLink("Delete", "DeleteTrip", new { tripId = item.TripId })
            </td>
        </tr>
    }
</table>

